<div class="container">
	<div class="row">
	   <div class="col">
		    <app-graph-instances-count></app-graph-instances-count>
	   </div>
	   <div class="col">
		    <app-graph-instances-state></app-graph-instances-state>
	   </div>
	   <div class="col">
		 	<app-graph-type-instances-count></app-graph-type-instances-count>
	   </div>
	</div>
	<div class="row">
	   <div  class="col">
		   <app-instance-details-grid></app-instance-details-grid>
	   </div>
	</div>
	<div class="row">
		<div class="col"><button (click)="randomize()" class="btn btn-primary">Refresh</button></div>
	</div>
</div>