<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to UI Demo  <button (click)="randomize()">Update</button>
  </h1>
  
  	<div *ngIf="gData.length > 0" style="display: block height:40vh; width:80vw">
	    <canvas baseChart
	            [datasets]="gData"
	            [labels]="gLabels"
	            [options]="chartOptions"
	            [legend]="chartLegend"
	            [chartType]="chartType"
	            (chartHover)="chartHovered($event)"
	            (chartClick)="chartClicked($event)"></canvas>
   </div>
</div>
<!--   After Options ::: [colors]="barChartColors" 

	   <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
-->